/* used https://www.youtube.com/watch?v=PwWHL3RyQgk to setup the navigation bar
used https://www.youtube.com/watch?v=S0a7PEOi0do for basic flexbox parameters
*/
* {
  padding: 10px; 
  margin: 10px;
  flex: 1 100%;
}

.body {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  background-image: url("./images/compute-ea4c57a4.png");
}

.header {
  color: white;
  height: 150px;
}
.header nav {
  color: white;
  font-size: 25px;
}

.header ul {
  list-style-type: none;
}

.content {
  text-align: center;
  font-size: 24px;
}

.my-work {
  text-align: center;
  color: white;
}

.my-work h2 {
  text-decoration: underline;
}

.project1 {
  display: inline-block;
  flex-direction: column;
  align-items: center;
  height: 625px;
  width: 510px;
  margin: 50px;
  border-width: 10px;
  border: white;
  border-style: solid;
}

.project2 {
  display: inline-block;
  flex-direction: column;
  align-items: center;
  width: 510px;
  margin: 50px;
  border-width: 10px;
  border: white;
  border-style: solid;
}

.contact-me {
  color: whitesmoke;
}

.contact-me li {
  list-style-type: none;
}

.about-me {
  color: aliceblue;
}

.footer {
  height: 150px;
  font-size: 25px;
  color: aliceblue;
}

/* Used media queries to make the webpage more responsive to resizing*/
@media all and (min-width: 992px) {
  .content {
    flex: 3;
  }
  .my-work {
    order: 1;
  }

  .project1 {
    order: 2;
  }

  .project2 {
    order: 2;
  }

  .contact-me {
    order: 2;
  }

  .about-me {
    order: 2;
  }

  .footer {
    order: 4;
  }
}

@media all and (min-width: 750px) {
  .my-work {
    flex: 1;
  }
}
