/* used https://www.youtube.com/watch?v=PwWHL3RyQgk to setup the navigation bar
used https://www.w3schools.com/css/css_navbar_horizontal.asp to setup the nav bar
*/
* {
  padding: 10px;
  margin: 10px;
}

.body {
  background-image: url("./images/compute-ea4c57a4.png");
}

.header {
  display: flex;
  flex-wrap: wrap;
  color: whitesmoke;
  font-size: 25px;
}
.header nav {
  font-size: 25px;
}

.header ul {
  justify-content: end;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.header li,
a {
  float: right;
  color: white;
  text-decoration: none;
}
/* Added a to the repeating li element */
/* .header li a {
  color: white;
  text-decoration: none;
} */

.header li a:hover {
  text-decoration: underline white;
}

.content {
  text-align: center;
  font-size: 24px;
}

.about-me {
  display: flex;
  flex-wrap: wrap;
  color: aliceblue;
}

.catpicture {
  width: 200px;
  height: 200px;
}

.subcolumn1 {
  width: 50%;
}

.subcolumn2 {
  width: 40%;
  display: flex;
  justify-content: start;
}

.my-work {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  color: white;
}

.my-work h2 {
  text-decoration: underline;
}

.firstcolumn {
  width: 10%;
  border-right: 1px white solid;
}

.secondcolumn {
  width: 60%;
}

#project1img {
  width: 100%;
}

.contact-me {
  display: flex;
  justify-content: start;
  color: whitesmoke;
  border-right: 1px;
  margin-top: 20px;
}

.contact-me li {
  list-style-type: none;
}

.footer {
  display: flex;
  justify-content: center;
  color: aliceblue;
}

/* Used media queries to make the webpage resize based on device*/

@media screen and (min-width: 769px) {
}

@media screen and (max-width: 568px) {
  .header nav {
    width: 50%;
  }
  .about-me {
    width: 100%;
  }

  .catpicture {
    width: 500%;
  }
  #project1img {
    width: 100%;
  }
  p,
  h3 {
    display: flex;
    flex-wrap: wrap;
  }

  .secondcolumn {
    width: 100%;
  }
}
